*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    max-width: 1000px;
    height: 800px;
    margin: 0 auto;
}
header{
    background: palevioletred;
    margin-bottom: 100px;
}
main{
    background: seagreen;
}